@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.hero-bg {
  background: #307d99 url("../images/bg.jpg");
  color: white;
  padding: 4em;
  text-align: center;
}
